@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #e84393;
}

section {
  padding: 5rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border: 0.2rem solid #222;
  background: #fff;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #222;
}

.btn:hover {
  color: #fff;
  background: #e84393;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
}

.heading h1 {
  font-size: 3.5rem;
  color: #222;
}

.heading p {
  margin: 1rem auto;
  font-size: 1.5rem;
  color: #777;
  max-width: 50rem;
  line-height: 2;
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
    opacity: 0;
  }
}

.header {
  padding: 1.5rem 9%;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 4rem;
}


.header .icons a,
.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  background: #f5f5f5;
  color: #222;
  cursor: pointer;
  font-size: 1.8rem;
  margin-left: .3rem;
  border-radius: .5rem;
}

.header .icons a:hover,
.header .icons div:hover {
  background: #e84393;
  color: #fff;
}

.header #search-btn {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: -110%;
  z-index: 1010;
  height: 100%;
  width: 100%;
  background: url(images/navbar-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 15%;
}

.navbar.active {
  left: 0;
}

.navbar #close-navbar {
  position: absolute;
  top: 3rem;
  right: 3rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  background: #fff;
  color: #222;
  cursor: pointer;
  font-size: 3rem;
}

.navbar #close-navbar:hover {
  color: #fff;
  background: #e84393;
}

.navbar a {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: lighter;
}

.navbar a:hover {
  color: #e84393;
  letter-spacing: .2rem;
}

.home {
  padding: 0;
}

.home .slide {
  display: none;
  height: calc(100vh - 8rem);
}

.home .slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .slide .content {
  width: 50%;
  padding: 2rem 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #fce9f2;
  position: relative;
}

.home .slide .content img {
  height: 25rem;
  width: 25rem;
  margin-bottom: 2rem;
  -webkit-animation: fadeUp .2s linear backwards .2s;
          animation: fadeUp .2s linear backwards .2s;
  display: none;
}

.home .slide .content span {
  color: #e84393;
  display: block;
  font-size: 2rem;
  padding-bottom: .5rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  -webkit-animation: fadeUp .2s linear backwards .4s;
          animation: fadeUp .2s linear backwards .4s;
}

.home .slide .content h3 {
  font-size: 5.5rem;
  text-transform: uppercase;
  color: #222;
  -webkit-animation: fadeUp .2s linear backwards .6s;
          animation: fadeUp .2s linear backwards .6s;
}

.home .slide .content .btn {
  -webkit-animation: fadeUp .2s linear backwards .8s;
          animation: fadeUp .2s linear backwards .8s;
}

.home .slide .content .controls {
  position: absolute;
  bottom: 12%;
  right: -7rem;
}

.home .slide .content .controls div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 3rem;
  background: #fff;
  color: #222;
  margin: 0 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.home .slide .content .controls div:hover {
  background: #e84393;
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home .slide .image {
  width: 50%;
}

.home .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.category .box {
  padding: 2rem;
  border-radius: .5rem;
  background: #f5f5f5;
  text-align: center;
}

.category .box img {
  height: 10rem;
  margin-bottom: 1rem;
}

.category .box p {
  font-size: 1.7rem;
  color: #222;
}

.dropbtn {
    background-color: #e84393;
    width: 500px;
    color: white;
    padding: 16px;
    font-size: 25px;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #843e62;
  }
  
  #myInput {
    box-sizing: border-box;
    width: 500px;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding-left: 30%;
  }
  
  .dropdown-content {
    display: none;
    font-size: 20px;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    z-index: 1;
  }
  
  .dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown option:hover {background-color: #ddd;}
  
  .show {display: block;}

  .search {
    width: 50%;
    height: 100px;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  
  .searchTerm1 {
    width: 100%;
    border: 3px solid #e84393;
    font-size: 20px;
    padding: 5px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm1:focus{
    color: #e84393;
  }

  .searchTerm2 {
    width: 100%;
    border: 3px solid #e84393;
    font-size: 20px;
    padding: 5px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm2:focus{
    color: #e84393;
  }
  
  .searchButton1 {
    width: 40px;
    height: 40px;
    border: 1px solid #e84393;
    background: #e84393;
    text-align: center;
    color: #fff;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    font-size: 20px;
  }
  .searchButton2 {
    width: 40px;
    height: 40px;
    border: 1px solid #e84393;
    background: #e84393;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

.about {
  background: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .content {
  width: 55rem;
  background: #fff;
  padding: 3rem;
}

.about .content span {
  color: #e84393;
  font-size: 2rem;
}

.about .content h3 {
  padding-top: 1rem;
  font-size: 3.5rem;
  color: #222;
}

.about .content p {
  font-size: 1.5rem;
  color: #777;
  line-height: 2;
  padding: 1rem 0;
}


.shop .slide {
  border: 0.2rem solid #222;
  background: #fff;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.shop .slide:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shop .slide:hover .image .icons {
  right: 1rem;
}

.shop .slide .image {
  height: 30rem;
  width: 50%;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.shop .slide .image .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: .5rem 1.5rem;
  font-size: 1.5rem;
  color: #fff;
  background: #e84393;
  z-index: 10;
}

.shop .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop .slide .image .icons {
  position: absolute;
  bottom: 0;
  right: -8rem;
}

.shop .slide .image .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  background: #fff;
  color: #222;
  border: 0.2rem solid #222;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  text-align: center;
  display: block;
}

.shop .slide .image .icons a:hover {
  background: #e84393;
  color: #fff;
}

.shop .slide .content {
  padding: 2rem;
  border-top: 0.2rem solid #222;
}

.shop .slide .content .stars {
  padding-bottom: .5rem;
}

.shop .slide .content .stars i {
  font-size: 1.5rem;
  color: #777;
}

.shop .slide .content p {
  font-size: 2rem;
  color: #222;
  line-height: 2;
}

.shop .slide .content a {
    font-size: 2rem;
    color: #f50a7b;
    line-height: 2;
  }

  .shop .slide .content a:hover {
    text-decoration: underline;
  }

.shop .slide .content .price {
  font-size: 2rem;
  color: #e84393;
}

.shop .slide .content .price span {
  font-size: 1.5rem;
  color: #777;
  text-decoration: line-through;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
  color: #222;
}

.footer {
  background: #f5f5f5;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #222;
  padding: 1rem 0;
}

.footer .box-container .box .link {
  padding: 1rem 0;
  display: block;
  font-size: 1.5rem;
  color: #777;
}

.footer .box-container .box .link i {
  padding-right: .5rem;
  color: #e84393;
}

.footer .box-container .box .link:hover {
  color: #e84393;
}

.footer .box-container .box .link:hover i {
  padding-right: 2rem;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #777;
  padding: 1rem 0;
}

.footer .box-container .box p i {
  padding-right: .5rem;
  color: #e84393;
}

.footer .box-container .box .share {
  margin-top: 2rem;
}

.footer .box-container .box .share a {
  height: 5rem;
  width: 5rem;
  background: #fff;
  border: 0.2rem solid #222;
  font-size: 2rem;
  line-height: 4.5rem;
  color: #222;
  text-align: center;
  margin-right: .3rem;
}

.footer .box-container .box .share a:hover {
  background: #e84393;
  color: #fff;
}

.footer .box-container .box form .email {
  width: 100%;
  border: 0.2rem solid #222;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: #777;
  text-transform: none;
  margin: 1rem 0;
}

.footer .credit {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
  padding: 1rem;
  border-top: 0.2rem solid #222;
  padding-top: 3rem;
  color: #777;
}

.footer .credit span {
  color: #e84393;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .home .slide .content {
    padding: 2rem;
  }
  .home .slide .content span {
    font-size: 2rem;
  }
  .home .slide .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .header #search-btn {
    display: inline-block;
  }
  .header .search-form {
    position: absolute;
    top: 99%;
    left: 0;
    border-top: 0.2rem solid #222;
    border-bottom: 0.2rem solid #222;
    width: 100%;
    background: #fff;
    height: 6rem;
    display: none;
    -webkit-animation: fadeUp .2s linear backwards;
            animation: fadeUp .2s linear backwards;
  }
  .header .search-form.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home .slide {
    position: relative;
    height: calc(100vh - 6rem);
  }
  .home .slide .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .slide .content img {
    display: inline-block;
  }
  .home .slide .content .controls {
    position: static;
    margin-top: 7rem;
  }
  .home .slide .content .controls div {
    margin: 0 .5rem;
  }
  .home .slide .image {
    width: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */